# dependencies
node_modules

# next.js
.next
tsconfig.tsbuildinfo
out

# production
build

# vercel
.vercel

# local env files
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store
.env*
